<mat-toolbar color="primary">
  <h1>Eossu Timeline</h1>
</mat-toolbar>

<section style="max-width: 35%">
  <eossu-timeline>
    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>11:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>10:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header1</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          vero odit, veritatis quos praesentium, ipsa fugit, ex deleniti ut
          consectetur doloremque veniam aut corporis inventore dignissimos
          debitis consequuntur voluptates dicta?
        </p>
      </eossu-timeline-content>
    </eossu-timeline-item>

    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>09:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>08:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header2</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit dignissimos molestias, dolor quia sequi autem enim
          voluptate nostrum aspernatur laboriosam.
        </p>
      </eossu-timeline-content>
      <eossu-timeline-dot></eossu-timeline-dot>
    </eossu-timeline-item>

    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>05:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>03:00</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header3</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
          voluptate illum excepturi dolore nihil amet labore iure aspernatur
          ullam ex at enim neque facilis et vitae delectus iste voluptatem
          veniam aut atque consequuntur nam. Earum vero quam corrupti saepe sint
          ipsam doloribus fuga, sapiente vel, natus obcaecati et libero
          consequatur.
        </p>
      </eossu-timeline-content>
      <eossu-timeline-dot></eossu-timeline-dot>
    </eossu-timeline-item>
  </eossu-timeline>
</section>
