<section
  style="
    position: relative;
    max-width: 35%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  "
>
  <eossu-timeline>
    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>2020</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>2018</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header 1</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
          vero odit, veritatis quos praesentium, ipsa fugit, ex deleniti ut
          consectetur doloremque veniam aut corporis inventore dignissimos
          debitis consequuntur voluptates dicta?
        </p>
      </eossu-timeline-content>
    </eossu-timeline-item>

    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>2018</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>2017</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header 2</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Reprehenderit dignissimos molestias, dolor quia sequi autem enim
          voluptate nostrum aspernatur laboriosam.
        </p>
      </eossu-timeline-content>
      <eossu-timeline-dot></eossu-timeline-dot>
    </eossu-timeline-item>

    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>2017</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>2008</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header 3</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          natus sequi tempora magni incidunt repellat fugiat ipsa molestiae qui
          voluptas possimus, beatae dolor consectetur vitae assumenda
          necessitatibus consequuntur sunt voluptatem, similique architecto
          aspernatur provident vel. Distinctio hic, quibusdam deleniti a,
          veritatis facilis nam atque minima expedita maxime enim, beatae qui
          accusantium sequi minus temporibus aut eum labore et deserunt
          corporis.
        </p>
      </eossu-timeline-content>
      <eossu-timeline-dot></eossu-timeline-dot>
    </eossu-timeline-item>

    <eossu-timeline-item>
      <eossu-timeline-dot>
        <eossu-timeline-time>2004</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-dot position="bottom">
        <eossu-timeline-time>2003</eossu-timeline-time>
      </eossu-timeline-dot>
      <eossu-timeline-header>
        <eossu-timeline-title>Header 4</eossu-timeline-title>
      </eossu-timeline-header>
      <eossu-timeline-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
          voluptate illum excepturi dolore nihil amet labore iure aspernatur
          ullam ex at enim neque facilis et vitae delectus iste voluptatem
          veniam aut atque consequuntur nam. Earum vero quam corrupti saepe sint
          ipsam doloribus fuga, sapiente vel, natus obcaecati et libero
          consequatur.
        </p>
      </eossu-timeline-content>
      <eossu-timeline-dot></eossu-timeline-dot>
    </eossu-timeline-item>
  </eossu-timeline>
</section>
