<mat-toolbar color="primary">
  <h1>Eossu Timeline</h1>
</mat-toolbar>

<eossu-timeline>
  <eossu-timeline-item>
    <eossu-timeline-item-dot></eossu-timeline-item-dot>
    <eossu-timeline-item-header>Header 1</eossu-timeline-item-header>
    <eossu-timeline-item-content
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a sed error
      quidem dignissimos quos maxime perspiciatis, cumque delectus
      aliquam?</eossu-timeline-item-content
    >
  </eossu-timeline-item>

  <eossu-timeline-item>
    <eossu-timeline-item-dot></eossu-timeline-item-dot>
    <eossu-timeline-item-header>Header 2</eossu-timeline-item-header>
    <eossu-timeline-item-content
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias
      assumenda doloremque ut quibusdam rerum ullam facilis aut perferendis
      eius.</eossu-timeline-item-content
    >
  </eossu-timeline-item>

  <eossu-timeline-item>
    <eossu-timeline-item-dot></eossu-timeline-item-dot>
    <eossu-timeline-item-header>Header 3</eossu-timeline-item-header>
    <eossu-timeline-item-content
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odit
      ex illo, ullam iusto temporibus ipsam reiciendis mollitia excepturi
      ea?</eossu-timeline-item-content
    >
  </eossu-timeline-item>

  <eossu-timeline-item>
    <eossu-timeline-item-dot></eossu-timeline-item-dot>
    <eossu-timeline-item-header>Header 4</eossu-timeline-item-header>
    <eossu-timeline-item-content
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo placeat
      laborum iure adipisci ipsa quidem aperiam totam molestias molestiae
      et?</eossu-timeline-item-content
    >
  </eossu-timeline-item>
</eossu-timeline>
