header {
  background-color: #323e51;
  color: white;
  padding: 5px;

  h1 {
    padding-left: 16px;
  }
}

section {
  height: calc(100% - 50px);
  display: inline-flex;

  aside {
    color: white;
    border-top: 1px solid rgba(white, 0.12);
    background-color: #323e51;
    width: 250px;

    h1 {
      padding-top: 16px;
      padding-left: 21px;
    }
  }
}
